Question2

In [13]:
div_7=set()
div_5=set()

for i in range(2000,3201):
    if(i%7==0):
        div_7.add(i)
    if(i%5==0):
        div_5.add(i)
final_result=div_7.difference(div_5)
print(final_result)

{3073, 2562, 2051, 2569, 2058, 3087, 2576, 3094, 2583, 2072, 3101, 2079, 3108, 2597, 2086, 2604, 2093, 3122, 2611, 3129, 2618, 2107, 3136, 2114, 3143, 2632, 2121, 2639, 2128, 3157, 2646, 3164, 2653, 2142, 3171, 2149, 3178, 2667, 2156, 2674, 2163, 3192, 2681, 3199, 2688, 2177, 2184, 2702, 2191, 2709, 2198, 2716, 2723, 2212, 2219, 2737, 2226, 2744, 2233, 2751, 2758, 2247, 2254, 2772, 2261, 2779, 2268, 2786, 2793, 2282, 2289, 2807, 2296, 2814, 2303, 2821, 2828, 2317, 2324, 2842, 2331, 2849, 2338, 2856, 2863, 2352, 2359, 2877, 2366, 2884, 2373, 2891, 2898, 2387, 2394, 2912, 2401, 2919, 2408, 2926, 2933, 2422, 2429, 2947, 2436, 2954, 2443, 2961, 2968, 2457, 2464, 2982, 2471, 2989, 2478, 2996, 3003, 2492, 2499, 3017, 2506, 3024, 2513, 2002, 3031, 2009, 3038, 2527, 2016, 2534, 2023, 3052, 2541, 3059, 2548, 2037, 3066, 2044}

Question 3

In [17]:
print('Enter First Name')
F_N=input()
print('Enter Last Name')
L_N=input()

Rev_Name=F_N + ' ' + L_N
print(Rev_Name[::-1])

Enter First Name
sharique
Enter Last Name
Mansoor
roosnaM euqirahs

Question 4

In [18]:
diameter=12
r=diameter/2
volume=(4/3)*3.14*r*r*r
print(volume)

904.3199999999998

Task 2

Question1

In [7]:
print('Enter the numbers separated by comma')
number=input()
num1=number.split(',')
print(list(num1))

Enter the numbers separated by comma
1,2,33
['1', '2', '33']

Question2

In [14]:

for i in range(1,10):
    if(i<=5):
        for j in range(1,i+1):
            print('*',end=' ')
        print("\r")    
    else:
        for j in range(1,11-i):
            print('*',end=' ')
        print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

Question3

In [15]:
print('Enter a word')
word=input()
print(word[::-1])

Enter a word
sharique
euqirahs

Question4

In [38]:
x=" "
print('WE, THE PEOPLE OF INDIA,\n'+6*x+'having solemnly resolved to constitute India into a SOVEREIGN, !\n'+12*x+' SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC\n'+13*x+' and to secure to all its citizens')

WE, THE PEOPLE OF INDIA,
      having solemnly resolved to constitute India into a SOVEREIGN, !
             SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
              and to secure to all its citizens